$prymary-text-color: #757575;
$title-text-color: #212121;
$white-text-color: #ffffff;
$logo-color: #afb1b8;
$accent-color: #2196f3;
$prymary-background-color: #ffffff;
$dark-background-color: #2f303a;
$team-background-color: #f5f4fa;
$hero-background-color: #c4c4c4;

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

 